@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 0.9px;
    font-style: normal;
}

body {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* color: rgb(100, 100, 89); */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    /* background-color: rgb(253, 253, 253); */
    background-color:  #2f5d7e;
    color: white;
    /* color: #000000; */

    z-index: 10;
}

.header--logo {
    height: 100%;
    cursor: pointer;
}

.header--logo-image {
    max-width: 70px;
    height: 100%;
}

.header--nav-list {
    display: flex;
    gap: 20px;
}

.header--nav-list--item-a {
    color: white;
    text-decoration: none;
}

.header--nav-list--item {
    cursor: pointer;
    list-style: none;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    padding-bottom: 4px;
}

.header--nav-list--item:hover {
    background-size: 100% 2px;
}


.header--nav-burger {
    position: absolute;
    right: 40px;
    top: 20px;

    max-width: 70px;
    height: 30px;
}

.header--nav-burger-image {
    max-width: 70px;
    height: 30px;
}

.header--nav-burger {
    display: none;
}
/*  */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
section {
    width: 100%;
    margin: 0 auto;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    height: 100vh;
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.slider-image {
    height: 100vh;
    width: 100%;
    background-size: cover;

    position: absolute;
    left: 0;
    pointer-events: none;
    filter: brightness(50%);

}

.slider-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.main-title {
    font-size: 40px;
    color: aliceblue;
}

/*  */

.about-me {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

}

.about-me-wrapper {
    width: 70%;

    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}


/*  */

.list-staff {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.list-staff-wrapper {
    padding: 40px 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.title-staff {
    margin-bottom: 20px;
}

.portret-photo-staff-one {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('/img/main/staff/one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.list-staff-items {
    display: flex;
    flex-wrap:wrap;
    overflow: hidden;
    gap: 20px;
}

.staff-item {
    width: 15%;
}

.text-staff {
    font-weight: 200;
}

/*  */

.services {
    overflow: hidden;
    width: 100%;
    background-color:#f5f5f5;
    display: flex;
    justify-content: center;
}

.services-wrapper {
    padding: 40px 0px;
    width: 70%;

}

.services-title {
    padding-bottom: 30px;
}

.list-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.services-item {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 250px;
    transition: all 0.3s ease;
    /* background-color: #ffffff; */
    color: rgb(0, 0, 0);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services-item:hover {
    transition: all 0.3s ease;
    background-color: #2f5d7e;
    color: white;
    cursor: pointer;
}

.services-start {
    background-size: cover;
    background-repeat: no-repeat;
}
.name-services {
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration:overline;
}

.text-services {
    text-align: center;
}

.services-price {
    text-align: right;
}

/*  */

.management {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.management-wrapper {
    padding: 30px 0px;
    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.management-list-video {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}


.management-video {
    width: 80%;
    height: 600px;
    /* height: calc(60%/); */
}

.reviews {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-wrapper {
    padding: 30px 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.reviews-title {
    padding-bottom: 20px;
}

.list-reviews {
    align-self: center;
    width: 60%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.cart-reviews {
    height: 50vh;
    display: flex;
    justify-content: space-around;
}

.one-cart-image {
    width:45%;
    height: 100%;
    background-image: url('/img/main/reviews/one-menjpg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.content-people-rewiews {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.one-cart-reviews {

}

.name-people-reviews {
    font-weight: 500;
}


.stars-people-reviews {
    width: 100%;
}


.stars-people-reviews-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/img/main/reviews/stars.png');
    background-size: cover;
}

/*  */

.contact {
    width: 100%;
    height: 20vh;
    background-color: #2f5d7e;
    color: white;
    display: flex;
    justify-content: center;
}

.contact-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-title {
    padding-top: 30px;
}

.list-info-contact-all {
    display: flex;
    justify-content: space-around;
}

.item-contact {
    display: flex;
    align-items: center;
}

.icon-phone {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/img/footer/phone.png');
    background-size: cover;
}

.icon-email {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/img/footer/icons8-почта-48.png');
    background-size: cover;
}

.icon-city {
    margin-right: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/img/footer/icons8-центр-города-64.png');
    background-size: cover;
}

.icon-tg {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/img/footer/icons8-телеграмма-app-48.png');
    background-size: cover;
}

.icon-vk {
    display: inline-block;
    padding-right: 5px;
    width: 40px;
    height: 40px;
    background-image: url('/img/footer/icons8-vk-48.png');
    background-size: cover;
}


/*  */

.contact a {
    color: white;
    text-decoration: none;
}